RUST_LOG=info
HTTP_PORT=8080
OPCUA_ENDPOINT=opc.tcp://plc.shopfloor.local:4840
OPCUA_CERT_PATH=/etc/opc-ua/cert.der
OPCUA_KEY_PATH=/etc/opc-ua/private.pem
KAFKA_BROKERS=kafka.factorymind.svc:9092
COMMAND_VERIFY_PUBKEY=/etc/opc-ua/it-issuer.pem
