PORT=8080
MQTT_BROKER=tcp://mqtt-broker:1883
TIMESCALE_URL=postgres://timescaledb:5432/telemetry
INFLUX_URL=http://influxdb:8086
INFLUX_TOKEN=change-me
KAFKA_BROKERS=kafka:9092
BATCH_SIZE=2000
FLUSH_INTERVAL_MS=200
